*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.carousel {
  /* width: 100vh; */
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  border: none;
  z-index: 2;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.61);
}

.carousel-button:hover, .carousel-button:focus {
  color: white; 
  background-color: black;
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  margin-left: 1rem;
}

.carousel-button.next {
  margin-right: 1rem;
}