@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #2370b8;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    color: #fff;
    font-weight: bolder;
    font-style: inherit;
    margin: 2px 0 10px;
    font-size: 20px;
    text-align: center;
}

#textarea {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    margin: 0 0 20px ;
    font-size: 17px;
    font-weight: inherit;
    border: none;
}

.tag {
    display: inline-block;
    background-color: #e29821;
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 5px 10px 0;
}

.tag.highlinght {
    background-color: #113455;
}