.attribution {
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: -30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: bold;
}

.attribution a:hover {
  animation-name: colorz;
  animation-duration: 5s;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  /* color: hsl(0, 100%, 50%);S */
  /* transition: 0.3s ease all; */
}

@keyframes colorz {
  0% {
    color: red;
  }
  25% {
    color: rgb(255, 196, 0);
  }
  50% {
    color: rgb(0, 255, 170);
  }
  75% {
    color: rgb(0, 47, 255);
  }
  100% {
    color: rgb(255, 0, 212);
  }
}
