* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: hidden;
    font-family: "basier_circleregular", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section {
    min-height: 85vh;
    padding: 75px 50px;
}

.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.testimonial-container .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.testimonial-container .testimonial .text {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 40px 25px;
    width: 550px;
    height: 170px;
    text-align: center;
}

.testimonial-container .testimonial .text .quote p {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}


.testimonial-container .testimonial .text .name {
    color: #1D1D16;
}

.testimonial.dot1.active {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
}

.testimonial.dot2.active {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
}

.testimonial.dot3.active {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
}

.click-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.dot{
    background-color: #b9b9b9;
    border-radius:50%;
    height:13px;
    width:12px;
    margin-right:10px;
    cursor: pointer;
    margin-top: 20px;
}

.dot.activee {
    background-color:#4b4b4b;
}
    

.testimonial.dot1 {
    display: none;
}  

.testimonial.dot2 {
    display: none;
}

.testimonial.dot3 {
    display: none;
}