* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form input {
    margin: 20px 0;
    /* background-color: black; */
    /* border: none; */
    padding: 10px 50px;
}

input:focus {
    outline: none;
}