*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: rgb(0, 0, 0);
   --second-color: #fff;
}

.dark-theme {
   --primary-color: #fff;
   --second-color: #000;
}

.container {
   width: 80%;
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
}

li {
   list-style: none;
   display: inline;
   padding: 0 7px;
}

a {
   text-decoration: none;
   color: var(--primary-color);
}

.home {
   min-height: 100vh;
   width: auto;
   background-color: var(--second-color);
}

header .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 1rem;
}

.nav ul {
   flex: 1;
   text-align: right;
}

header img {
   width: 80px;
   color: pointer;
   height: auto;
}

.icon {
   width: 50px;
   cursor: pointer;
   padding-left: 7px;
}

/* !CONTINUT! */
.content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-basis: auto;
}

.img {
   flex-basis: 40%;
}

.img img {
   width: 80%;
}

.text {
   color: var(--primary-color);
}

.text h1 {
   font-size: 50px;
}

.text span {
   color: #0877d9;
}

.text p {
   font-size: 20px;
}

.text button {
   border: none;
   background-color: var(--primary-color);
   color: var(--second-color);
   padding: 1rem;
   font-size: 1rem;
   margin-top: 1rem;
   cursor: pointer;
}

.icons {
   display: flex;
   padding-top: 2rem;
   font-size: 1.5rem;
}

.icons i {
   color: var(--primary-color);
}
