@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "./modal.css";
@import "./responsive.css";

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* !Header! */
header {
    width: 100%;
    background-image:
    linear-gradient(to bottom,  rgba(211, 255, 224, 0.52) 70%, #00ff37 120%),
    url('/images/1_Uxe2anex__Tt6WdyrocLTw.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 660px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Aladin', cursive;
}

.logo .sp1 {
    color: #000;
}

.logo a:hover {
    color: #000;
    transition: 0.5s all ease-in;
}

.navbar_elements a {
    font-size: 22px;
    padding: 0 5px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.navbar_elements .str {
    padding: 10px 20px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
}

.navbar_elements .str:hover {
    box-shadow: 0px 10px 15px rgba(10, 46, 32, 0.4);
    transition: 0.5s all ease-out;
}

.content_header .tit {
    margin-left: 190px;
    padding-top: 100px;
    text-align: left;
    width: 64%;
}

.content_header .title1 {
    width: 100%;
    line-height: 100px;
    font-size: 90px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #000;
}

.str1 {
    padding: 10px 20px;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

.str1:hover {
    box-shadow: 0px 10px 15px rgba(10, 46, 32, 0.4);
    transition: 0.5s all ease-out;
}

.but {
    margin-top: 30px
}


/* !Container! */
.sec1 {
    color: red;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 40px;
} 

/* !Section 1! */
.section_1 {
    height: 1024px;
    background-color: #fff;
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.minisec1, .minisec2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section_1 .minisec1 .sect1 .im {
    width: 400px;
}

.section_1 .minisec1 .sect1 .im:hover , 
.section_1 .minisec2 .sect2 .im:hover {
    animation-name: fade;
    animation-duration: 2.5s;
}

 .section_1 .minisec1 .sect2 .lorem {
   color: #000; 
   font-family: 'Lato', sans-serif;
   margin-right: 150px; 
   font-size: 25px;
} 

.section_1 .minisec2 {
    margin-top: -40px;
}

.section_1 .minisec2 .sect3 .lorem {
    color: #000;    
    font-family: 'Lato', sans-serif; 
    margin-left: 150px; 
    font-size: 25px;
}

.section_1 .minisec2 .sect2 .im {
    width: 400px;
    float: right;
    margin-right: -60px;
}

/* !Section 2! */
.section_2 {
    width: 100%;
    background-image: url('/images/1_Uxe2anex__Tt6WdyrocLTw.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 1100px;
}

.h21 {
    color: #fff;
    padding-top: 40px;
    font-size: 55px;
}

.portofoliu__row {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.portofoliu__elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 530px;
    max-height: 385px;
    background-color: none;
    margin-left: 50px;
}

.site {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid rgb(155, 155, 155);
}

.site:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.5px);
    transform: scale(1.01);
    transition: 1s all ease-in-out;
    border: 3px solid transparent;
}

.site_but {
    margin-top: 20px;
}

.siteb {
    color:#000;
    background-color: #fff;
    margin-top: 20px;
    padding: 7px 13px;
    border-radius: 20px;
    border: 4px solid red;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.siteb:hover {
    color:#fff;
    background-color: rgb(255, 0, 0);
    transition: 0.3s all ease-out;
}

/* !Section 3! */
.section_3 {
    height: 500px;
    background-color: #fff;
    width: auto;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section_3 .eu_img {
    flex: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section_3 .eu_img .eu {
    height: 400px;
    width: 400px; 
    border-radius: 50%;  
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
}

.section_3 .eu_img .eu:hover{   
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes fade {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.section_3 .eu_img .eu_des1 {
    font-size: 25px;
    font-family:Helvetica, sans-serif;
    font-style: italic;
    color: red;
}

.section_3 .eu_img .de {
    font-size: 15px;
    font-style:normal;
    color: rgb(255, 197, 197);
}

.section_3 .eu_img .de:hover {
    color: red;
    transition: 1s all ease-in-out ;
}

.section_3 .eu_descriere {
    flex: 70%;
}

.section_3 .eu_descriere .eu_des {
    color: #000;
    font-size: 25px;
    margin-left: 50px;
}

/* !Footer! */
footer {
    height: 139px;
    background-color: rgb(0, 0, 0);
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


.str3 {
    font-size: 23px;
    color: #fff;
    padding: 10px 20px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
}


.str3:hover {
    box-shadow: 0px 10px 15px rgba(10, 46, 32, 0.4);
    transition: 0.5s all ease-out;
}

.str3:active, .str:active , .str1:active{   
    color:red ;
    background-color: #fff;
}

.foot {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}

.italic a {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.italic a:hover {
    color: red;
    transition: 0.5s all ease-out;
}
