*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: black;
}

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    /* background-color: white; */
    z-index: 10000;
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    border: 3px solid white;
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
  }