* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vh;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.left-slide p {
    margin-top: 10px;
    font-style: italic;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;
}

.right-slide > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    transition: 0.5s ease;
}

button:focus {
    outline: none;
}

svg {
    background-color: black;
}

.slider-container .button .up {
    position: absolute;
    left: 35%;
    top: 45%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slider-container .button .down {
    position: absolute;
    left: 31%;
    top: 51%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

