@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
    --color-bg:#19a1ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.top 
.bottom {
    position: absolute;
}

.top {
    transform: translate(-30%, -55%);
}

.bottom {
    bottom: 0;
    right: 0;
    transform: translate(40%, 65%);
}

.container {
    background-size: 100%;
    width: 450px;
    height: 500px;
    background-color: #fefefe;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.fundal {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 451px;
    height: 150px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.cerc {
    border-radius:50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top:-60px;
    border:3px solid #ebebeb;
    padding: 1px;
    z-index: -1;
}

.dates {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    align-items: center;
}

.name {
    font-family: Arial, Helvetica;
    position: relative;
    bottom: -7px;
    font-size: 25px;
}

.age {
  font-family: 'Mukta', sans-serif;
}

.country {
  position: relative;
  bottom: 9px;
}

.newline{
    border-top:1px solid gray;
    opacity: 20%;
    position: relative;
    bottom: -20px;
}

.sectiunea__3 {
    position: relative;
    bottom:-59px;
    text-align: center;
    font-size: 22px;
    margin: auto;
    padding: 10px;
    align-items: center;
    word-spacing:70px ;
}

.numbers {
    font-weight: bold;
    word-spacing:83px ;
    font-style:initial;
}

.social {
    font-size:16px;
    word-spacing:77px ;
}


@media only screen and (min-width:375px) {
    .container {
    width: 350px;
    height: 500px;
    }

    .fundal {
     width: 350px;
     height: 150px;
    }

}
