@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --color-text: #212529;
    --color-secondary: #f8f9fa;
    --color-primary: #14213d;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--color-primary);
    padding: 22px 50px;
    position: relative;
}

/* ! Navigation ! */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* position: fixed; */
}

.navigation-bar .logo {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 20px;
}

.links {
    display: flex;
}

.navigation-bar .links a {
    text-decoration: none;
    font-size: 15px;
    color: var(--color-secondary);
}

.navigation-bar .links li {
    list-style: none;
    padding: 0 10px;
}

.burger i {
    color: #fff;
    font-size: 20px;
}

.burger {
    display: none;
}

/* !Section! */
.header-section {
    padding: 22px 50px;
    display: flex;
    align-items: center;
    min-height: 90vh;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container img {
    width: 100%;
    height: auto;
}

.head-container .text {
    width: 50%;
    margin-right: 50px;
}

.head-container .text h1 {
    margin-bottom: 10px;
    font-size: 35px;
    color: #212529;
}

.head-container .text p {
    color: #14213d;
    font-weight: 500;
}

.head-container .image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

/* !About! */
.about {
    padding: 75px 50px;
    background-color:#14213d;
    color: #fff;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-container .img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.about-container .img img {
    width: 500px;
    height: 350px;
}

.about-container .text h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-container .text button {
    /* border: none; */
    border:1px solid transparent ;
    margin: 35px 0;
    padding: 10px 15px;
    background-color: #fff;
    color: #14213d;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 10px; */
    cursor: pointer;
}

.about-container .text button:hover {
    border:1px solid #fff ;
    background-color: #14213d;
    color: #fff;
    transition:  0.3s all ease;
}

/* !Services! */
.services {
    padding: 75px 50px;
    background-color: #fff;
    min-height: 80vh;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.card {
    background-color: #14213d;
    padding: 30px 15px;
    color: #fff;
    text-align: center;
}

.card-body {
    padding: 30px 15px;
    position:relative;
}

.card-header h1 {
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
    padding: 0 20px;
    line-height: 38px;
}

.card-header h1::after {
    content: "";
    height: 3px;
    width:100px;
    background-color:#fff;
    position:absolute;
    left:50%;
    bottom: -10px;
    transform:translate(-50%,-50%);
}

/* !Testimonials! */
.testimonials {
    padding: 75px 50px;
    min-height: 60vh;
}

.testimonials .container .testimonial-text {
    text-align: center;
    font-size: 20px;
    position: relative;
}

.testimonials .container .testimonial-text h2::after {
    content: " ";
    height: 3px;
    width:100px;
    background-color: #d8ba15;
    position:absolute;
    left:50%;
    bottom: -10px;
    transform:translate(-50%,-50%);
}

.testimonial-container {
    margin-top:3rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom:3rem;
    overflow:hidden;
}

.testimonial-container .testimonial{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:30px 50px;
}

.testimonial-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.testimonial-image {
    width: 200px;
}

.testimonial.dot1{
    display:none;
}

.testimonial.dot1.active{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
}

.testimonial.dot2{
display:none;
}

.testimonial.dot2.active{
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:column;
}

.testimonial.dot3{
display:none;
}

.testimonial.dot3.active{
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:column;
}

.testimonials-dots{
width:30%;
display:flex;
justify-content:center;
align-items:center;
margin:0 auto;
}

.testimonials-dots .dot{
background-color:#3773f5;
border-radius:50%;
height:20px;
width:20px;
margin-right:1rem;
cursor: pointer;
}

.testimonial-text p {
    text-align: center;
    margin-top: 20px;
    padding: 0 300px;
    font-size: 20px;
}

/* Contact */
.contact{
background-color: #fff;
padding: 80px 15px;
color: #fff;
text-align: center;
position:relative;
}

.contact .container .form-text h3{
color:#14213d;
margin-bottom:2.95rem;
font-size:2.1rem;
}

.contact-row{
display:grid;
grid-template-columns:1fr 1fr;
grid-gap:5rem;
margin-bottom:3rem;
align-items:center;
}

.contact-row input{
border:2px solid #14213d;
/* border-radius:50px; */
width:100%;
padding:25px 25px;
}

.contact-message textarea {
width:40%;
border:2px solid #14213d;
border-radius:10px;
padding:25px 25px;
height:90%;
}

.contact-row input:focus{
border:none;
}

form button{
margin-top:2rem;
background-color:#14213d;
color:#fff;
border:none;
padding:15px 20px;
border-radius:50px;
font-weight:650;
letter-spacing:1px;
cursor: pointer;
font-size: 20px;
border: 4px solid transparent;
}

form button:hover {
    background-color:#fff;
    color:#14213d;
    border: 4px solid #14213d;
}

.footer{
background-color:#14213d;
padding:35px 25px;
text-align:center;
}

.footer .container h2{
color:#fff;
font-size:1.1rem;
font-weight: 100;
}

/* !Responsive! */
@media (max-width:1000px) {
    header {
        padding: 22px 25px;
        z-index: 1;
    }

    .navigation-bar {
        width: 95%;
        position: relative;
    }

    .links {
        display: flex;
        position: fixed;
        right: -100%;
        bottom: 0;
        width: 50vw;
        height: 100vh;
        background-color: #3773f5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: 0.5s ease-in all;
    }
    
    .links.active {
        right: 0;
        transition: 0.5s ease-in all;
    }
    
    .links li {
        font-size: 25px;
        margin-top: 20px;
    }

    .links li a {
        text-transform: uppercase;
        font-weight: 550;
    }

    .burger {
        display: flex;
        z-index: 3;
    }   

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .head-container {
        display: flex;
        flex-direction: column;
    }

    .head-container .text {
        width: 100%; 
        margin-bottom: 40px;
    }

    .head-container .text h1 {
        font-size: 22px;
    }

    .head-container .text p {
        font-size: 17px;
    }

    .head-container .image {
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .about-container {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
    }
    .about-container .img img{
        width:100%;
        height:auto;
    }
    .about-container .img{
    width:100%;
    }
    .about-container .text{
    width:100%;
    }
    .testimonial-text p {
    text-align: center;
    margin-top: 10px;
    padding: 0 0px;
    font-size: 14px;
    }
}

@media (max-width: 760px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .services {
        padding: 75px 30px;
        background-color: #fff;
        min-height: 100vh;
    }
    .contact .container .form-text h3{
        color:#14213d;
        margin-bottom:2.95rem;
        font-size:1.1rem;
    }
    .contact-row{
        display:grid;
        grid-template-columns:1fr;
        align-items:center;
        }
        
        .contact-row input{
        border:2px solid #14213d;
        border-radius:50px;
        width:100%;
        /* padding:25px 25px; */
        }
        
        .contact-message textarea{
        width:80%;
        border:2px solid #14213d;
        border-radius:10px;
        padding:25px 25px;
        height:90%;
        }

        
}
