@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* .attribution {
 font-size: 11px; 
 text-align: center; }

.attribution a { 
 color: hsl(228, 45%, 44%); } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
.containerz {
    width: 1360px;
    max-width: 94%;
} */

/* !Header! */
header {
    padding: 50px 0px;
    position: relative;
    background-color: hsl(217, 28%, 15%);
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.nav .nav-list {
    display: flex;
}

.nav .nav-list a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav .nav-list a:hover {
    text-decoration: underline;
}

.nav .nav-list li {
    list-style: none;
    padding: 0 25px;
}


/* !Container Header! */
.container {
    background-color: hsl(217, 28%, 15%);;
    /* padding: 22px 50px; */
}

.header-container {
    padding:0px 0px;
    background:hsl(217, 28%, 15%) url('./images/bg-curvy-desktop.svg') no-repeat bottom;
    background-size:100%;
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}


.intro_img .intro img {
    width: 100%;
    height: auto;
}

.header-container .text {
    z-index: 1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:50px;
    width:90%;
}

.text h1 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    margin-top: 30px;
    padding: 0 400px;
    text-align: center;
    z-index:4;
}

.text p {
    color: rgb(223, 223, 223);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    padding: 0 400px;
    font-variant: initial;
    text-align: center;
    z-index:4;
}

.button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:3;
}

.text button {
    border-radius: 50px;
    font-weight: 700;
    border: none;
    font-size: 17px;
    padding: 18px 90px;
    color: #fff;
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
}

.text button:hover {
    background-color: hsl(176, 68%, 64%);
    transition: 0.3s ease;
}

.curvy_img .curvy {
    width: 100%;
    height: auto;
    /* position: absolute; */
    margin-top:-50px;
    z-index: 4;
}


/* !Container Content! */
.container .content {
    padding: 75px 200px;
    background-color: hsl(218, 28%, 13%);
    text-align: center;
}

.cub {
    margin-top: 100px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.row h1 {
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
}

.row p {
    color: rgb(223, 223, 223);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 7px;
    padding: 0 70px;
}

/* !Container Productive! */
.productive {
    background-color: hsl(218, 28%, 13%);
    padding: 30px 150px;
}

.productive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.descriere {
    padding-left: 70px;
}

.productive-container .image img {
    width: auto;
    height: auto;
}

.productive-container .descriere h3 {
    color: #fff;
    font-weight: 500;
    font-size: 45px;
    padding-right: 250px;
}

.productive-container .descriere p {
    color: rgb(223, 223, 223);
    font-size: 17px;
    padding-top: 13px;
    padding-right: 80px;
}

.productive-container .descriere a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.productive-container .descriere a:hover {
    color: hsl(176, 68%, 64%);
}

.productive-container .descriere a::after {
    content: "";
    height: 1px;
    /* width:155px; */
    width: 0;
    /* background-color:#fff; */
    position:absolute;
    background-color: hsl(176, 68%, 64%);
    left:50%;
    bottom: -5px;
    transform:translate(-50%,-50%);
    transition: 0.3s ease-in;
}

.productive-container .descriere a:hover:after { 
    width: 100%; 
}

.productive-container .descriere a img {
    position: relative;
    top: 3px;
    left: 1px;
}

.productive-container .descriere a img:hover {
    fill: hsl(176, 68%, 64%);
}

/* !Testimonials! */
.testimonials {
    background-color: hsl(218, 28%, 13%);
    padding: 50px 200px 100px;
}

.quotes {
    position: relative;
    bottom: -15px;
}

.quotes img {
    width: auto;
    height: auto;
}

.row-test {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
}

.test {
    background-color: hsl(219, 30%, 18%);
    width: 400px;
    padding: 40px 30px 20px 30px;
    border-radius: 5px;
    box-shadow: 10px 5px 7px hsl(217, 28%, 15%);
}

.test p {
    color: rgb(214, 214, 214);;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.person {
    padding-top: 20px;
    display: flex;
}

.test img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.dates {
    padding-left: 10px;
}

.dates h6 {
    font-size: 12px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.dates p {
    font-size: 10px;
    color: rgb(184, 184, 184);
    padding-top: 4px;
}

/* !Submit! */
.bg {
    background-color: hsl(218, 28%, 13%);;
}

.submit {
    bottom: -150px;
    position: relative;
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(216, 53%, 9%);
}

.submit h1 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.submit p {
    color: rgb(218, 218, 218);
    text-align: center;
    font-weight: 400;
    padding: 30px 100px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit input {
    width: 550px;
    height: 50px;
    border-radius: 50px;
    padding-left: 40px;
    outline: none;
    border: none;
}

.submit input::placeholder {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit button {
    border-radius: 50px;
    font-weight: 500;
    border: none;
    font-size: 16px;
    padding: 18px 35px;
    color: #fff;
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
    margin-left: 30px;
}

.submit button:hover {
    background-color: hsl(176, 68%, 64%);
    transition: 0.3s ease;
}

/* !Footer! */
footer {
    height: 70vh;
    background-color: hsl(216, 53%, 9%);
    padding: 200px 150px 0px 150px;
    color: #fff;
}

.logo-footer img {
    height: auto;
    width: 15%;
    margin-bottom: 50px;
}

.footer {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-col.col1 {
    max-width: 25%;
    display: flex;
}

.footer-col.col1 img {
    margin-right: 2rem;
    height: 1.5rem;
}

.footer-col.col2 {
    max-width: 20%;
}

.navigation-footer {
    max-width: 25%;
}

/* .footer-col.col4 {
    flex-basis: 30%;
} */

.footer-col.col5 {
    max-width: 10%;
}

/* .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

.footer-col.col2, .footer-col.col3, .footer-col.col4 {
    display: flex;
    flex-direction: column;
} 

.footer-col.col2 .linie {
    padding-top: 15px;
}

.footer-col.col2 .linie img {
    padding-right: 15px;
}

.footer-col.col5 a i {
    color: #fff;
    font-size: 15px;
    margin: 0 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 8px;
}

.footer-col.col5 a i:hover {
    color: hsl(176, 68%, 64%);
    transition: 0.3s ease-out;
}

.footer-col.col3 a, .footer-col.col4 a {
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
}


.footer-col.col3 a:hover , .footer-col.col4 a:hover {
    font-weight: 500;
} */

/* 
.footer-container {
    margin: auto;
    padding-top: 50px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16;
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-col ul li a:hover {
    font-weight: bold;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin-right: 0 10px;
    text-align: center;
    border: 50%;
    color: #000;
}

.footer-col .social-links a:hover {
    background-color: hsl(176, 68%, 64%);
}

.footer-col.col1 {
    display: flex;
}

.footer-col.col1 img {
    height: 25px;
    width: 25px;
}

.footer-col.col1 p {
    padding-left: 25px;
} */

/* !Responsive! */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width: 1450px) {
    .header-container {
        background:hsl(217, 28%, 15%) url('./images/bg-curvy-desktop.svg') no-repeat bottom;
        background-size:100%;
        min-height:100vh;
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
    }
    
    
    .intro_img .intro img {
        width: auto;
        height: auto;
    }
    
    .header-container .text {
        z-index: 1;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        margin-top:50px;
        width:90%;
    }
    
    .text h1 {
        font-size: 34px;
        margin-top: 30px;
        padding: 0 200px;
    }
    
    .text p {
        margin-top: 20px;
        font-size: 18px;
        padding: 0 200px;
        text-align: center;
        z-index:4;
    }
    
    .button {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:3;
    }
    
    .text button {
        border-radius: 50px;
        font-weight: 700;
        border: none;
        font-size: 17px;
        padding: 18px 90px;
        color: #fff;
        background-color: hsl(198, 60%, 50%);
        cursor: pointer;
    }
    
    .curvy_img .curvy {
        width: 100%;
        height: auto;
        /* position: absolute; */
        margin-top:-50px;
        z-index: 4;
    }
}

@media (max-width: 1500px) {
    .productive-container .descriere h3 {
        font-weight: 500;
        font-size: 35px;
        padding-right: 50px;
    }
    
    .productive-container .descriere p {
        font-size: 17px;
        padding-top: 13px;
        padding-right: 50px;
    }

    .testimonials {
        background-color: hsl(218, 28%, 13%);
        padding: 50px 130px 300px;
    }
    
    .quotes {
        position: relative;
        bottom: -15px;
    }
    
    .quotes img {
        width: auto;
        height: auto;
    }
    
    .row-test {
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5rem;
    }
    
    .test {
        background-color: hsl(219, 30%, 18%);
        width: 400px;
        padding: 40px 30px 20px 30px;
        border-radius: 5px;
        box-shadow: 10px 5px 7px hsl(217, 28%, 15%);
    }

    .submit {
        background-color: hsl(217, 28%, 15%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 5px 5px 15px hsl(216, 53%, 9%);
    }

    .submit input {
        width: 500px;
        height: 50px;
        border-radius: 50px;
        padding-left: 40px;
        outline: none;
        border: none;
    }
    
    .submit button {
        border-radius: 50px;
        font-weight: 500;
        border: none;
        font-size: 16px;
        padding: 16px 33px;
        color: #fff;
        background-color: hsl(198, 60%, 50%);
        cursor: pointer;
        margin-left: 30px;
    }
    
}

@media (max-height: 1400px) {
    /* .testimonials {
        background-color: hsl(218, 28%, 13%);
        padding: 50px 50px 200px;
    } */

    .submit input {
        width: 400px;
        height: 50px;
        border-radius: 50px;
        padding-left: 40px;
        outline: none;
        border: none;
    }
    
    .submit button {
        border-radius: 50px;
        font-weight: 500;
        border: none;
        font-size: 15px;
        padding: 18px 35px;
        color: #fff;
        background-color: hsl(198, 60%, 50%);
        cursor: pointer;
        margin-left: 30px;
    }

}

/* .footer-caract { */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-gap: 1rem; */
    /* padding-top: 70px; */
/* } */
/* 
.footer-caract .paragraph {
    display: flex;
}

.footer-caract .paragraph img {
    width: 20px;
    height: 20px;
}

.footer-caract .paragraph p {
    padding-left: 40px;
}

.telephon {
    display: flex;
}

.telephon p {
    padding-left: 20px;
}

.telephon img {
    height: 20px;
    width: 20px;
}

.telephon.tv {
    padding-top: 20px;
}
*/

/*
.navigation-list ul li {
    list-style: none;
    padding-top: 10px;
}

.navigation-list ul li a {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

.navigation-list ul li a:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
} */
