* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Firefox */
/* html { 
    scrollbar-width: normal;
    scrollbar-color: black red;
}

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(184, 184, 184);
}

html::-webkit-scrollbar-track {
    background-color: #5555;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: #333;
}

div {
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
} */


/* !Kevin Tutorial! */

body {
    height: 200vh;
}

::-webkit-scrollbar {
    width: 2em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    border-radius: 100vw;
    margin-block: 0.5em;
    /* margin-right: 0.1em; */
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(red, blue); */
    background: hsl(120 100% 20% / 1);
    border: 0.25em solid hsl(120, 75%, 50% / 1);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}