@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* !HEADER! */
header {
    height: 600px;
    width: 100%;
    background-image: url('/defacut/images/desktop/image-hero.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.nav_bar .logo {
    font-size: 35px;
    font-weight: bold;
}

header a {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.nav_list {
    display: flex;
}

.nav_bar .nav_list > li {
    list-style: none;
    position: relative;
    padding: 0 13px 0 13px;
}

.nav_bar .nav_list > li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color:transparent;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    left: 15%;
    bottom: -0.75rem;
}

.nav_bar .nav_list > li:hover::after {
    background-color: #fff;
    width: 70%;
}

.space {
    display: flex;
    justify-content: space-around;
}

.cub {
    box-sizing: border-box;
    border: 2px solid #fff;
    max-width: 700px;
    height: 300px;
    margin-top: 80px;
    margin-left: 20px;
}

.cub-text {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
    font-weight:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0px 0px 20px;

}

/* !CONTAINER! */
.container {
    width: 90%;
    max-width: 1280px;
    margin:auto;
}


/* .top {
/* flex-basis:40%; 
} */

.top img {
    width: 100%;
    object-fit: cover;
}

.section1 {
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 220px;
    /* justify-content: center;
    align-items: center; */
}

.top1 {
    background-color: #fff;
    flex-basis: 50%;
    position: relative; 
    left: -10rem;
    bottom: -10rem; 
    padding: 30px 0px 0px 50px;
    height: 310px;
}

.top1 .title {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight:normal;
    padding:30px 0px 5px 0px ;
}

.top1 .des {
    color: hsl(0, 0%, 41%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin-top: 30px;
}

/* !! */
.containersec {
    display: flex;
    justify-content: space-around;
    margin: 0px -140px 70px -140px;
}

.containersec .titlu {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: inherit;
    color: #000;
    font-size: 35px;
    margin-left: 15px;
}

.containersec button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000;
    color: #fff;
    padding: 5px 35px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    border: none;
}

button a {
    text-decoration: none;
    color: #fff;
}

/* !! */
.containerpic {
    display: flex;
    margin: 0px 200px;
    flex-direction: row;
    color: #fff;
}

.poza {
    margin-right: 10px;
    margin-left: 20px;
    flex-direction: column;
    cursor: pointer;
    object-fit: contain;
}

.poza:hover {
    background-color: hsl(0, 0%, 64%);
    opacity: 0.5;
    transition: all 0.5s;
}

.hover:hover {
    color: #000;
    z-index: 1;
    opacity: 1;
}

.pozades {
    z-index: 1;
    font-size: 30px;
    position:relative;
    top: -115px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: inherit;
    text-align: left;
    margin:0px 30px 0px 30px;
}

.pic {
    margin-top: 20px;
    margin-bottom: 150px;
}

/* !FOOTER! */
footer {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    max-width: 100%;
    height: 170px;
    overflow: hidden;
}

.sub {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.socialmed {
    display: flex;
    justify-content: right;
    margin-right: -170px;
}

.socialmed a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.socialmed li {
    display: inline;
    padding-left: 10px;
    position: relative;
}

.socialmed li::after {
    content: "";
    background-color: transparent;
    position: absolute;
    height: 2px;
    width: 70%;
    bottom: -10px;
    left: 30%;
}

.socialmed li:hover::after {
    background-color: #fff;
}

.logof {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: -155px;
}

.logof a {
    text-decoration: none;
    color: #fff;
}

.navsub {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.list a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.list li {
    display: inline;
    padding: 0px 10px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.list li::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 50%;
    background-color: transparent;
    left: 25%;
    height: 2px;
}

.list li:hover::after {
    background-color: #fff;
}

.copy {
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    opacity: 0.7;
    font-size: 14px;
}

.attribution { 
    text-align: center;
    margin-top: 20px;
    color: hsl(0, 0%, 55%);
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.attribution a:hover { 
    color: hsl(0, 100%, 50%); 
    text-decoration: none;
    transition: all 1s ease-in-out;
    filter: brightness(1.75);
}
